server:
  port: 8081

  springfox:
    title: 'FINT elev dummy adapter'
    version: '@version@'

fint:
  oauth:
    enabled: true
    username: ${fint.core.oauth2.username}
    password: ${fint.core.oauth2.password}
    client-id: ${fint.core.oauth2.client-id}
    client-secret: ${fint.core.oauth2.client-secret}
    access-token-uri: https://idp.felleskomponent.no/nidp/oauth/nam/token
    scope: fint-client

  adapter:
    response-endpoint: ${fint.adapter.endpoints.providers.elev}/response
    status-endpoint: ${fint.adapter.endpoints.providers.elev}/status
    sse-endpoint: ${fint.adapter.endpoints.providers.elev}/sse/%s
    organizations: fintlabs.no
    endpoints:
      sse: /sse/%s
      status: /status
      response: /response
      providers:
        elev: https://api.felleskomponent.no/utdanning/elev/provider

spring:
  profiles:
    include: data
  main:
    allow-bean-definition-overriding: true

logging:
  level:
    no.fint: DEBUG